<!DOCTYPE html>
<html>
<head>
    {% load static %}
    {% load bootstrap3 %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

    {% bootstrap_css %}

    <title>Metrics</title>
</head>

<body>

<table id="metrics_table" class="table table-striped table-bordered" cellspacing="0" width="100%">
    <thead>
        <tr>
            <!-- aqui van los atributos que quieres -->
            <th>Name</th>
            <th>Type</th>
            <th>Application</th>
            <th>Cite count</th>
            <th>Proposed in</th>
        </tr>
    </thead>
        <!-- papers se define en la vista! -->
        {% for metric in metrics %}
            <tr>
                <td><a href='{{ metric.get_absolute_url }}'>{{ metric }}</a></td>
                <td>{% for type in metric.metric_type.all %}{{ type }} {% endfor %}</td>
                <td>{% for application in metric.application.all %}{{ application }} {% endfor %}</td>
                <td>{{ metric.cited_in.all.count }}</td>
                <td><a href='{{ metric.proposed_in.get_absolute_url }}'>{% if metric.proposed_in %}{{ metric.proposed_in }}{% endif %}</td>
            </tr>
        {% endfor %}
    <tbody>
    </tbody>
</table>

{% bootstrap_javascript %}

<link rel="stylesheet" type="text/css" href="//cdn.datatables.net/1.10.12/css/jquery.dataTables.min.css">
<script type="text/javascript" charset="utf8" src="//cdn.datatables.net/1.10.12/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">

    $(document).ready(function(){
        $("#metrics_table").dataTable();
    });
</script>

</body>
</html>
